body
{
    background-color: #3c3f41;
    font-family: sans-serif;
    color: springgreen;
    margin: 0;
}

h3
{
    margin: 10px;
}

header
{
    background-color: #3c3f41;
    padding-left: 10px;
    margin-left: 10px;
}

nav
{
    float: left;
    background-color: #2b2b2b;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

section
{
    float: left;
    background-color: #2b2b2b;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

table
{
    border-collapse: collapse;
}

th
{
    text-align: left;
    padding-left: 10px;
    font-size:small;
}

td
{
    font-family: monospace;
    padding-left: 10px;
    border-top: 1px solid #3c3f41;
}

.highlighted {
    color: white;
}